* {
    margin: 0;
    padding: 0;
}

#schedule-container,
#gamecenter-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#top-container {
    /* position: fixed; */
}

#top-nav-container {
    overflow: auto;
    white-space: nowrap;
    background-color: #333;
    padding-bottom: 10px;
}

#top-nav {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.nav-links {
    text-decoration: none;
    color: cyan;
    text-align: center;
    display: inline-block;
    padding: 14px;
}


.top-nav-individual-gamebox {
    display: inline-block;
}

.top-nav-logos {
    max-width: 10%;
}

#container {
    background-color: rebeccapurple;
}



.link-style {
    text-decoration: none;
    color: cyan;
}

.link-style:hover {
    text-decoration: underline;
}

#news-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.homepage-links-cards {
    max-width: 50%;
    background-color: rgb(69, 69, 69);
    padding-bottom: 10px;
    margin-bottom: 10%;
    text-align: center;
}

.homepage-links-cards:hover {
    box-shadow: 0 0 25px rgb(73, 253, 247);
    border-color: rgb(73, 253, 247);
}

.homepage-links-cards>* {
    text-decoration: none;
    color: cyan;
    transition: 0.3s;

}

.home-article-images {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.schedule-logos {
    width: 75%;
}

#team-stats-table>th,
td {
    border-bottom: 1px solid #ddd;
}

.players-to-watch {
    border-collapse: collapse;

}

.preview-table-stats-logos {
    max-height: 20%;
}

.players-to-watch-team-logos {
    max-width: 20%;
}

#home-roster-table {
    display: none;
}

#tendy-table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#tendy-left-table {
    float: left;

}


#tendy-right-table {
    float: right;

}

#recap-img {
    max-width: 100%;
}

.tendy-tables>tr {
    width: 1000px;
}

/* #preview-container{
   display: flex;
   flex-direction: row;
} */

#recap-highlights {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.highlight-div {
    padding: 10px;
}

.video-thumbnail{
    padding-left: 10px;
}

.pbp-pic {
    border-radius: 50%;
    max-height: auto;
    max-width: 20%;
}

.rink-pic{
    max-width: 50%;
    height: auto;
    float: right;
    width:50%;
}

#hit-marker{
    float: right;
}
.pbp-details {
    display: inline-block;
    width: 50%;
}

.pbp-events {
    list-style-type: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;

}


.pbp-type {
    border: solid 1px;
    /* width: fit-content; */
    text-align: center;
    padding: 1%;
}



.pbp-event-box {
    display: inline-flex;
}


.pbp-event-box-no-players {
    background-color: #090a09
}

#preview-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#preview-container>section {
    width: 100%;
}


#preview-left-col {
    width: 33%;
    max-width: fit-content;
}

#team-stats-table {
    min-width: 50%;
}

.last-ten-table {
    min-width: 100%;
}

.last-ten-away {
    text-align: left;
    margin-left: 1em;

}

.last-ten-home {
    text-align: right;
    margin-right: 1em;
}

#last-ten-section {
    display: inline-flex;
    min-width: 50%;
    max-height: auto;
}



.last-ten-logos {
    max-width: 25%;
}

#live-game-container {
    width: 100%;
    display: float;
}



#left-live-game-col {
    float: left;
}

.link {
    color: cyan;
    text-decoration: none;
}

#main-postgame-container {
    width: 66%
}

#pg-container {
    display: inline-flex;
    width: 100%;

}

#recap-container {
    text-align: center;

}

#post-game-buttons {
    text-align: center;
}

/* CSS */
.pg-btns {
    align-items: center;
    background-color: #333;
    border-radius: 12px;
    color: cyan;
    cursor: pointer;
    display: inline-flex;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;

}

.pg-btns {
    box-shadow: cyan 0 0 0 3px, transparent 0 0 0 0;
}




@media screen and (max-width: 1000px) {

    #schedule-container {
        width: 100%;
    }

    #preview-container {
        display: contents
    }

    #team-stats-table {
        min-width: 100%;
        padding: 10xp 20px;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .roster-table {
        min-width: 100%;
    }

    #live-game-scoreboard {
        min-width: 100%
    }

    #recap-container {
        max-width: 100%;
        width: auto;
    }

    #recap-video {
        width: 100%;
    }

    #recap-highlights {
        scrollbar-width: thick;
        border: 1px solid aqua;
        width: 100%;

    }

    #highlight-video{
        max-width: 100%;
    }

    #schedule-team-stats-container {
        min-width: 100%;
        overflow-x: scroll;
    }

    .post-game-skater-stats {
        overflow-x: scroll;

    }

    #main-postgame-container {
        width: 100%;
    }

    #pg-container {
        display: block;
        min-width: 100%;
    }

    #recap-container,
    #recap-highlights {
        min-width: 100%;
    }


    #news-container {
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .homepage-links-cards {
        min-width: 100%;
    }



}