/* #score-container{
    margin: auto;
    width: 100%;

} */

.scores-boxes{
    margin: auto;
    width: 80%;
    border: 3px solid;
    padding: 10px;
}

.scores-boxes-teams{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.scores-boxes-content{
    margin-left: auto; 
margin-right: 0;
}

.scores-boxes-teams-home, .scores-boxes-teams-away, .scores-boxes{
    display: flex;
    justify-content: space-between;
}
.broadcast-details{
    justify-content: center;
}
#days-nav{
    display: inline-flex;
    padding: 10px;
    border-bottom: 1px solid transparent;
}
.day-btn{
    padding: 10px;
    margin: 10px;
    display: block;
}
.day-btn:hover{
    text-decoration: underline 1px;
    display: inline-block;

}
#current-day{
    text-decoration: underline 1px;
}

@media screen and (max-width: 1000px){
.scores-boxes{
   
    max-width: 100%;
}
    
    }