.scores-boxes{
    border: 1px solid cyan;
    display: flex;
    flex-direction: row;
    max-width: 33%;
    margin-bottom: 10px;
}

.scores-boxes-teams{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.scores-boxes-content, .broadcast-details{
    margin-left: auto; 
margin-right: 0;
}