#division-row {
    text-align: left;
}


#table-container {
    margin: auto;
    border: 3px solid;
    padding: 10px;
    width: 60%;
}

.standings-table {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}


/* tr {
    color: white;
} */
.logos {
    max-width: 33%;
    float: left;
}

@media screen and (max-width: 1000px) {
    .standings-table {
        overflow-x: auto;
        display: block;
    }
    

}