

#division-row{
    text-align: left;
}


#table-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


/* tr {
    color: white;
} */
.logos{
    max-width: 33%;
    float: left;
}

@media screen and (max-width: 1000px){
.standings-table {
    width: auto;
    overflow-x: scroll;
}

.standings-table > th, td {
  text-align: left;
  padding: 8px;
}

}