#list-container {
    display: inline-flex;
    position: absolute;  

}

li {
    list-style:  none;
}

#team-main-info {
    text-align: center;
}

#stats-container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#team-stats-table{
  min-width: 100%;  
    
}

.division-container {
    text-align: center;
    width: 25%;
}

.division-container:hover > .division-teams{
    display: block;

}

.division-teams{
    display: none;
background-color: #333;
    border: 1px solid #333;

}

#roster-main{
    padding-top: 10%;
}


#leaders-table{
    min-width: 20%;
    margin-left: 5%;
}

.table-pic {
    border-radius: 50%;
    max-width: 20%;
    margin-left: auto; 
margin-right: 0;
}

.division-name{
    text-align: center;
    margin-left: 100px;
}
#profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    padding: 5%;
}

#profile-pic {
    border-radius: 50%;
}

#profile-card-info {
    text-align: center;
}

#roster-container{
    display: inline-flex;
    width: 100%;
}

#profile-mid-div{
    display: inline-flex;
   
}

#mid-details{
    flex: left;
}
#season-stats{
    flex: right;
}
.bio-card-details {
    display: inline-block;
}

@media screen and (max-width: 1000px){

#stats-container{
    width: auto;
}
#roster-container{
    display: flex;
    flex-direction: column
}
.division-name{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin-left: 2.5vmax;
}

#profile-mid-div{
    display: block;
   
}

#season-stats{
    overflow-x: scroll;
}
table{
max-width: 100%;
overflow-x: scroll;
}

}